/* Temas del segundo período*/

.texto{
   
    font-size: 36px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(0, 0, 0);
}
.principal{
   display: flex;
     
}
body{
   
    background-image: url("fondo.jpg");
   

} 
.titulo{ 
    font-size: 50px;
    color: black;
    text-align: center;
}
.img1{
height: 215px;
width: 313px;
background-image: url("images.jpg");
background-repeat: no-repeat;
float: left;

}
.banano{
height: 250px;
width: 250px;
background-image: url(Amperimetro.jpg);
background-repeat: no-repeat;
float: left;
}



.cs{
    height: 300px;
    width: 300px;
    background-image: url(cs.jpg);
    background-repeat: no-repeat;
    float: left;
    }


.cp{


    height: 300px;
    width: 300px;
    background-image: url(cp.jpg);
    background-repeat: no-repeat;
    float: left;


}



.ca{


    height: 200px;
    width: 300px;
    background-image: url(ca.jpg);
    background-repeat: no-repeat;
    float: left;


}

.cc{


    height: 200px;
    width: 300px;
    background-image: url(cc.jpg);
    background-repeat: no-repeat;
    float: left;


}

























































































































































































































































































































































































































































































































































